.bag{
    background-color: rgb(99, 241, 101);
    border-radius: 20px;
    border: 5px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
}
.wish{
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px 40px;
    
}
.icon{
    color: red;
}